LOG_LEVEL=debug
LOG_DIR=data/logs
LOG_RETENTION_DAYS=7
LOG_CONSOLE=true

DB_HOST=127.0.0.1
DB_USER=admin
DB_PASS=123456
DB_NAME=auth_service

CRAWL_TIKTOK_ENABLED=true
CRAWL_INTERVAL_MS=600000
CRAWL_LIMIT=10
VIDEO_DOWNLOAD_DIR=/home/vndic/tiktoke-crawler1/data/videos/raw
MAX_POSTS_PER_VIDEO=1

TIKTOK_SEED_URLS=https://www.tiktok.com/@vtvcab.congnghe.onlive,https://www.tiktok.com/@anhem.news
TIKTOK_BROWSER=none

DOWNLOAD_TIMEOUT_MS=300000
COMPRESS_TIMEOUT_MS=600000

FFMPEG_PATH=/usr/bin/ffmpeg
FFPROBE_PATH=/usr/bin/ffprobe
